.product img{
    width: 350px;
    height: 400px;
    border-radius: 8px;
    /* margin-left: 25px; */
    /* padding-left: 25px; */
}
.product{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding-bottom: 10px;
    text-align: center;
}